body {
    background-size: auto contain;
    /* background: url("assets/images/Background.gif") no-repeat center fixed; */
    /* background-position-y: -150px; */
    font-family: Georgia, Times, "Times New Roman", serif;
}
h1, h2 {
    font-weight: 700
}
p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 5ch;
    font-size: 18px;
    line-height: 34px;
    color: #777;
}
.tealText {
    color: #4aaaa5;
}
.tealBack {
    background: #4aaaa5;
}
.whiteText {
    color: white;
}
.blackText {
    color: #777;
}
.container {
    margin-top: 100px;
}
.footerText {
font-size: 12px;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #ccc;

}
.pPanel{
    background-size: auto;
    background: url("assets/images/Background.gif") no-repeat center;
}